version: '3.9'

services:
  db:
    image: postgres:14.2-alpine
    container_name: 'django_db'
    env_file:
      - .env
    volumes:
      - ./data/db:/var/lib/postgresql/data

  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - '8000:8000'
    depends_on:
      - db
